<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<title>{% block title %}Learner's Learner{% endblock %}</title>
<link rel = "stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
</head>
<body>
<div class="image">
<ul>


</div>
<content>
<h1> Introduction </h1>
<p align="centre">
	<h2>Hello Amigo...</h2>
	<p> I am Pupil. I am a machine learning web application.<br />
	In this brief session I am gonna learn about how you learn.<br />
	Learning is an active mental process that begins whenever <br />
	you encounter something new.You can learn better if you <br />
	monitor your learning progress at each stage.Associating<br />
	your previous knowledge with the new knowledge to learn<br /> 
	it better is a good strategy.Remember there is nothing <br />
	new under the sun.Learn by applying what you know for sure.<br />
	Problem solving in the course of learning helps you get <br />
	better understanding of the concepts.Better understanding<br />
	helps in better applicability of knowledge.So what are you<br /> 
	waiting for? Begin your learning journey here...<br />
	<p>
</p>
<content> 
</login>
<h2> Login Here </h2>
<form action="{% url 'pupil:login' %}" method="POST" target="_parent" >
		{% csrf_token %}
		<p>
		{{ form.as_p }}
		</p>
      <input type="submit" value="Login" /><br />
</form>
</div>
</body>
</html>
